@media print {
    .noprint {display:none}
    .form-control {
        border: none; 
        background-image:none;
        appearance: none;
        text-align: center;
    }

    .form-control-select {
        padding-left: 40%;
    }

    .summary {
        text-align: center; 
  }
  
}